*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 10/16 = 0.625  */
  font-size: 62.5%;
  /* 1 rem is now 10px. We set root font size to 10px cause while converting px in rem we have to divide it by 16 */
  /* and that would become cumbersome so to get rid of those calculations simply set root font size to 10px :) */
}

body {
  box-sizing: border-box;
}
